<Alloy>
    <View id="vWrapper" layout="absolute" width="Ti.UI.FILL" height="Ti.UI.FILL">
        <View top="20%" backgroundColor="transparent" layout="vertical">
            <Label target="manual" text="Anleitung" onClick="list_OnItemClick"></Label>
            <Label target="tc" text="Nutzungsbedingungen" onClick="list_OnItemClick"></Label>
            <Label target="feedback" text="Feedback" onClick="list_OnItemClick"></Label>
            <Label target="imprint" text="Impressum" onClick="list_OnItemClick"></Label>
            <Label target="logout" text="Abmelden" onClick="list_OnItemClick"></Label>
        </View>
    </View>
</Alloy>