<Alloy>
    <Window backgroundColor="transparent">
        <ListView id="list" >
            <ListSection>
                <ListItem title="Highscore"></ListItem>
                <ListItem title="Anleitung" backgroundColor="transparent"></ListItem>
                <ListItem title="Einstellungen" backgroundColor="transparent"></ListItem>
                <ListItem title="Hilfe" backgroundColor="transparent"></ListItem>
                <ListItem title="Feedback geben" backgroundColor="transparent"></ListItem>
            </ListSection>
        </ListView>
    </Window>
</Alloy>